<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Модульна контрольна робота №1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Виконав: студент Кандиба Роман КН-32
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Кількість птахів які вміють літати та плавати</ion-label>
        <ion-input type="number" id="a" value="1" #Inputa></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Друге число</ion-label>
        <ion-input type="number" id="b" value="2" #Inputb></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Кількість птахів які бігають та плавають(птиця ківі)</ion-label>
        <ion-input type="number" id="c" value="3" #Inputc></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="ras(Inputa.value,Inputb.value,Inputc.value)">Розрахунок</ion-button>
      <ion-item>
        <p>Для пташок які вміють літати та плавати треба {{d}} м<sup>2</sup> на суші та {{dd}} м<sup>2</sup></p>
      </ion-item>
      <ion-item>
        <p>Для пташок які вміють тільки плавати {{d}} м<sup>2</sup> на суші та м<sup>2</sup></p>
      </ion-item>
      <ion-item>
        <p>Для пташок які вміють літати та плавати треба {{d}} м<sup>2</sup> на суші та м<sup>2</sup></p>
      </ion-item>
      <ion-item>
        <p>Для пташок які вміють літати та плавати треба {{sum}} м<sup>2</sup> на суші та {{ssum}} м<sup>2</sup></p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>